<ul>
  <li> To edit a translation please click on flag icon at "Edit" column.</li>
  <li> To create a new translation click on flag icon at "Add New Translation" column.</li>
  <li> Flag blinking refers that the reference guideline is newer than the existent translation.</li>
  <li> A view of the reference guideline is provided by edit and create action.</li>
</ul>

