In the editor window differences are displayed line by line as
<ul>
  <li> --- (the selected older version).</li>
  <li> +++ (the current document).</li>
</ul>
Hint: Content of the window will be saved as the current document.

